@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
body {
  background-color: rgb(47, 49, 44);
  overflow-x: hidden;
  font-family: "Press Start 2P", sans-serif;
  color: #ffffff;
}
header {
  .top {
    display: flex;
    justify-content: space-between;
    font-family: inherit;
    font-weight: 900;
  }
  .againbutton {
    width: 12vw;
    height: 6vh;
    display: inline;
    font-weight: 900;
    font-family: inherit;
    border: none;
    border-radius: 10px;
  }
  .Guess-text {
    width: 100vw;
    height: 20vh;
    text-align: center;
    align-content: center;
    font-size: xx-large;
    font-weight: 900;
    font-family: inherit;
  }
  .number {
    color: #333;
    font-size: 1.5rem;
    width: 100vw;
    text-align: center;
    align-content: center;
    height: 30vh;
    h1 {
      background-color: #ffffff;
      display: inline-block;
      width: 25vw;
      height: 12vh;
      align-content: center;
    }
    hr {
      position: relative;
      top: 50%;
      border: none;
      background-color: aliceblue;
      height: 10px;
      z-index: -1;
    }
  }
  /* border: 3px solid black; */
}
main {
  
  display: flex;
  flex: 2;
  width: 100vw;
  height: 30vh;
  /* border: 3px solid black; */
  .inputfield {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    flex: 1;
    justify-content: center;
    align-items: center;
    input {
      background: none;
      height: 8vh;
      border-color: whitesmoke;
      text-align: center;
      font-family: inherit;
      font-size: xx-large;
      color: whitesmoke;
      width: 12vw;
    }
    button {
      background-color: rgb(255, 255, 255);
      width: 8vw;
      height: 6vh;
      border: none;
      box-shadow: 0px 0px 1px black;
      font-family: inherit;
    }
  }
  .scorefield {
    flex: 1;
    align-content: center;
    justify-items: center;
  }
}
